@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: heavitas;
  src: url("/font/Heavitas.ttf");
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slider-images {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide-img-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform, opacity, filter;
  transition: filter 0.5s ease;
}

.slider-images::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.35);
}

.slider-images img {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    will-change: transform, opacity;
}

.slider-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 380px;
  height: 4px;
  background: #d7f04bde;
  transform: skewX(-20deg);
  z-index: 1;
}

.slider-title {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    width: 50%;
    font-size: 50px;
    font-family: 'heavitas';
    color: #ffff;
}

.slider-indicator {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
}

.slider-indices {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1.25rem;
}

.slider-indices p {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #ffff;
}

.index {
    position: relative;
    width: 1.25rem;
    display: flex;
    justify-content: flex-end;
    will-change: opacity;
}

.marker {
    position: relative;
    width: 0.75rem;
    height: 1px;
    background: #ffff;
    transform-origin: right;
    will-change: transform;
    transform: scaleX(0);
}

.slider-progress-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(255,255,255,0.35);
}

.slider-progress {
    position: absolute;
    top: 0;
    left: 50%;
    width: 3px;
    height: 100%;
    transform: translateX(-50%) scaleY(0);
    background-color: #ffff;
    transform-origin: top;
    will-change: transform;
}

.line {
    position: relative;
    display: block;
    will-change: transform;
}

.outro {
    padding: 2rem;
    align-content: center;
    color: #fff;
}

.outro h1 {
    width: 65%;
    margin: 0 auto;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(39, 58, 4, 0.541);
    font-family: 'heavitas';
    line-height: 1.2;
}

.map-wrapper {
  overflow: hidden;
  position: relative;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.outro-wrapper {
    width: 100%;
    height: auto;
    padding-top: 12rem;
}

.cards-container {
    padding: 30px;
}

/* Mobile (<=640px) */
@media (max-width: 640px) {
  .cards-container {
    padding: 20px;
  }

  .outro-wrapper {
    padding-top: 7rem;
  }

  .outro h1 {
    width: 100%;

  }

  .slider-title {
    left: 1rem;
    font-size: 40px;
  }

  .slider-title::after {
  width: 150px;
  height: 4px;
 }
}

/* Extra Small Mobile (<=480px) */
@media (max-width: 480px) {
  .slider-title {
    width: 70%;
    left: 0.8rem;
  }
}