#courts {
  font-family: 'heavitas';
}

.headline-wrapper {
  margin-top: -9rem;
  gap: 0;
  line-height: 1.22;
}

.high-wrapper {
  mix-blend-mode: overlay;
  text-transform: uppercase;
  letter-spacing: 15px;
  text-shadow: 3px 3px 3px rgb(255, 255, 255);
}