.highs-wrappers {
  mix-blend-mode: darken;
  text-transform: uppercase;
  text-shadow: 1px 0 1px rgb(255, 255, 255);
  margin-left: 10px;
  padding-top: 15px;
}

.desc-wrappers {
  margin-left: 10px;
  padding-bottom: 15px;
  color: #fff;
  text-shadow: 1px 0 1px rgb(0, 0, 0);
}