#nav {
    display: flex;
    padding: 10px 10%;
    justify-content: space-between;
    align-items: center;
}

#nav img {
    mix-blend-mode: color-burn;
    height: 100px;
}

#nav-left,
#nav-right {
    display: flex;
    align-items: center;
    gap: 60px;
}

#nav a {
    pointer-events: all;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 650;
    letter-spacing: 2px;
}

.hamburger-btn {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  padding: 10px;
  z-index: 9999;
}

.line {
  width: 28px;
  height: 3px;
  background: black;
  border-radius: 3px;
  transition: 0.3s ease;
}

.line1-open {
  transform: translateY(9px) rotate(45deg);
}

.line2-open {
  opacity: 0;
}

.line3-open {
  transform: translateY(-9px) rotate(-45deg);
}

/* ---------------------------
   MOBILE DROPDOWN MENU
---------------------------- */

#mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  height: 0;
  opacity: 0;
  z-index: 9999;
}

#mobile-menu button {
  width: 100%;
  padding: 18px 20px;
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  background: transparent;
  color: white;
}

#mobile-menu button:hover {
  background: rgba(255, 255, 255, 0.08);
}


@media (max-width: 1024px) {

    #nav-left,
    #nav-right {
        gap: 2rem;
    }
}

@media (max-width: 640px) {
    #nav {
        padding: 10px 3%;
        max-width: 100vw !important;
    }

    .hamburger-btn {
    display: flex;
  }

    #nav img {
        height: 90px;
        width: auto;
        object-fit: contain;
    }

    #nav-left,
    #nav-right {
        display: none !important;
        gap: 0;
    }
}