@import "tailwindcss";
@import "tw-animate-css";

#hero {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    width: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
}

#heroleft {
    min-width: 50%;
}

#heroleft .elem {
    position: relative;
    height: 9vw;
    overflow: hidden;
}

#heroleft .elem h1:nth-child(1) {
    top: 0;
}

#heroleft .elem h1 {
    position: absolute;
    top: 100%;
    left: 0;
    line-height: 0.92;
    font-family: "heavitas";
    color: #fff;
    font-weight: 100;
    font-size: 5vw;
}

#heroleft button {
    @apply appearance-none bg-transparent border-0 p-0 m-0 cursor-pointer outline-none;
    padding: 0.8vw 3vw;
    font-size: 3vw;
    margin-top: 2vw;
    font-family: "heavitas";
    background-color: #fff;
}

#heroright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 17%;
    color: #fff;
}

#heroright p {
    font-size: 14px;
    text-align: right;
    font-weight: 300;
}

#heroright #imagediv {
    width: 100%;
    height: 170px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-image: url('/img8.webp');
    background-size: cover;
    background-position: center;
}

#heroright p:nth-child(3) {
    margin-bottom: 100px;
}

@media (max-width: 1024px) {
    #hero {
        display: block;
    }

    #heroleft .elem h1 {
        line-height: 1.2;
        font-weight: 100;
        font-size: 8vw;
    }
}

@media (max-width: 640px) {
    #heroleft button {
        padding: 2vw 3vw;
        font-size: 5vw;
        margin-top: 5vw;
        font-family: "heavitas";
        background-color: #fff;
    }
}