@import "tailwindcss";
@import "tw-animate-css";

#hero {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    width: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

#heroleft {
    min-width: 50%;
}

#heroleft .elem {
    position: relative;
    height: 13vw;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
}

#heroleft .elem h1:nth-child(1) {
    top: 0;
}

#heroleft .elem h1 {
    position: absolute;
    top: 100%;
    left: 0;
    font-family: "heavitas";
    color: #fff;
    font-weight: 100;
    font-size: 5vw;
}

.cta-wrapper a {
    display: block;
    padding: 0.9vw 2.8vw;
    color: black;
    font-size: 2vw;
    font-family: "heavitas";
}

.cta-wrapper {
    clip-path: polygon(8% 0%,
            100% 0%,
            92% 100%,
            0% 100%);
    background-color: #fff;
    display: inline-block;

    z-index: 99;
    pointer-events: all;
    user-select: none;
}

.cta-wrapper:hover {
    background-color: #811105;
}

.cta-wrapper:hover a {
    color: white;
}

.cta-wrapper,
.cta-wrapper a {
    transition: all 0.25s ease;
}

#heroright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 17%;
    color: #fff;
    pointer-events: none;
    user-select: none;
}

#heroright p {
    font-size: 14px;
    text-align: right;
    font-weight: 300;
}

#heroright #imagediv {
    width: 100%;
    height: 170px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#heroright p:nth-child(3) {
    margin-bottom: 100px;
}

@media (max-width: 1024px) {
    #hero {
        display: block;
    }

    #heroright {
        display: none;
    }

    #heroleft {
        min-width: 100%;
    }

    #heroleft .elem {
    position: relative;
    height: 28vw;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
    }

    #heroleft .elem h1 {
        font-weight: 100;
        font-size: 10vw;
    }

    .cta-wrapper a {
        padding: 1.4vw 3.5vw;
        font-size: 3.5vw;
    }
}

@media (max-width: 640px) {
    #heroleft button {
        padding: 2vw 3vw;
        font-size: 5vw;
        margin-top: 5vw;
        font-family: "heavitas";
        background-color: #fff;
    }

    .cta-wrapper a {
        padding: 3vw 6vw;
        font-size: 5vw;
    }
}