#main {
  width: 100%;
  min-height: 100vh;
}

#top {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

#workingarea {
  position: relative;
  margin: 0 auto;
  width: 80%;
  max-width: 1920px;
  min-height: 100vh;
}

@media (max-width: 1024px) {
  #workingarea {
    width: 90%;
    margin-left: 5%;
  }
  #workingarea {
    max-width: 659px;
    min-height: 100vh;
  }
}