@import "tailwindcss";
@import "tw-animate-css";

/* Developer Note:
   This site was built by Michael Florentio (2025).
*/

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: heavitas;
  src: url("/font/Heavitas.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}